
@import '~foundation-sites/scss/util/util';
@import '~foundation-sites/scss/util/mixins';

// Configuration
@import 'config/variables';
@import 'config/typography';

// Grid systesm
@import '~foundation-sites/scss/foundation';
@include foundation-global-styles;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-flex-classes;
@include foundation-visibility-classes;
@include foundation-forms;
@include foundation-top-bar;
@include foundation-title-bar;
@include foundation-menu;
@include foundation-prototype-spacing;
@include foundation-responsive-embed;

// Overrides
@import 'config/buttons';
@import 'config/forms';

// Global styles
@import 'global';
